.about-content {
	margin: 2rem 0 10rem;

}

.about-page-title {
	position: relative;
	left: 6rem;
	top: 1.6rem;
	font-size: 3.6rem;
	font-weight: 600;
	font-style: italic;
	text-transform: lowercase;
}

.about-info {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
}

.about-image {	
	display: flex;
	position: relative;
	top: -3rem;
	z-index: -1;
	img {
		margin: 0 auto;
	}
}

.about-paragraph {
	margin: 3rem;
}
