.contact-content {
	margin: 2rem 0 20rem;

}

.contact-page-title {
	position: relative;
	left: 6rem;
	top: 1.6rem;
	font-size: 3.6rem;
	font-weight: 600;
	font-style: italic;
	text-transform: lowercase;
}

.contact-info {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
}

.contact-image {	
	display: flex;
	position: relative;
	align-items: flex-start;
	top: -3rem;
	z-index: -1;
	max-width: 95%;
	margin: 0 auto;
}

.wpcf7-form p {
	text-align: center;
}

.wpcf7-text,
.wpcf7-textarea {
	width: 94%;
	border: none;
}

.wpcf7-text {
	border-bottom: 1px solid black;
}

.wpcf7-submit {
	float: left;
	position: relative;
	bottom: -7rem;
	border: 1px solid black;
	padding: 0.6rem 4rem;
	font-family: "futura-pt", sans-serif;
	text-transform: uppercase;
}