header {
	display: flex;
	flex-direction: row;
	margin: 5rem 0 3rem;
}

.front-page-header-text-box {
	position: relative;	
	width: 100%;
}

.front-page-title {
	margin: 0;
	width: 39rem;
	position: absolute;
	top: 4rem;
	left: -4rem;
	font-size: 5.6rem;
	font-style: italic;
	font-weight: 600;
	text-transform: lowercase;
	text-decoration: underline;
}

.front-page-subtext {
	position: absolute;
	bottom: 4rem;
	left: 6rem;
}

.front-page-subtext1 {
	font-family: "ambroise-std",serif;
	font-size: 2.4rem;
	font-style: italic;
}

.front-page-subtext2,
.front-page-subtext3 {
	font-family: "futura-pt", sans-serif;
	font-size: 1.8rem;
}

.front-page-content {
	margin: 5rem 0;
}

.front-page-blog-post {
	display: flex;
	flex-direction: row;
	width: 96.8%;
	position: relative;
	margin: 10rem 0;
	border: 2px solid black;
	.wp-post-image {
		position: relative;
		top: -2.4rem;
		z-index: -1;
	}
	&:nth-of-type(odd) {
		flex-direction: row-reverse;
		// left: -2rem;
		.wp-post-image {
			right: -2.4rem;
		}
	}
	&:nth-of-type(even) {
		right: -2rem;
		.wp-post-image {
			left: -2rem;
		}
		.front-page-blog-excerpt {
			text-align: right;
		}
	}
}

.front-page-blog-excerpt {
	padding:4rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	h3 {
		margin: 0 0 2rem;
		font-size: 2.4rem;
		font-style: italic;
		text-decoration: underline;
		a {
			color: black;
		}
	}
	p {
		margin: 2rem 0 0;
		a {
			color: #888888;
		}
	}
	h4 {
		margin: 0.3rem 0;
		font-size: 1.8rem;
	}
}

