
.individual-blog-post {
	border: 2px solid black;
	padding: 0 3rem 3rem 3rem;
	margin: 8rem 0;
	position: relative;
}

.blog-image {
	position: relative;
	top: -3.2rem;
	z-index: -1;
}

.blog-title {
	font-size: 2rem;
	a {
		color: black;
	}
}

.post-date {
	display: flex;
	font-size: 1.6rem;
		margin: 0;
}

.blog-excerpt {
	position: relative;
	top: -2rem;
	margin: 1rem;
	p a {
		color: #888888;
	}
} 
