html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

/* paragraphs */

p {
	line-height: 1.5;
}

/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.clear {
	width: 100%;
	float: left;
	clear: both;
}