html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

/* paragraphs */

p {
	line-height: 1.5;
	font-family: "futura-pt", sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
}

h1, h2, h3 {
	font-family: "ambroise-std",serif;
	font-weight: 400;
}


h4, h5, h6 {
	font-family: "futura-pt", sans-serif;
}

/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.clear {
	width: 100%;
	float: left;
	clear: both;
}