a {
	color: blue;
	text-decoration: none;
	&:hover {
		color: #D424B1;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
}

/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.clear {
	width: 100%;
	float: left;
	clear: both;
}